<div class="sidebar">

  <a href="/admin/dashboard">
    Dashboard
  </a>

  <a href="/admin/vehicles">
    Vehicles
  </a>

  <a href="/admin/drivers">
    Drivers
  </a>

  <a href="/admin/trips">
    Trips
  </a>

</div>